**/__pycache__
.eggs
.github
.pytest_cache
.vscode
docker
docs
ism3d.egg-info
scripts
tests
.editorconfig

.dockerignore
.gitignore
.git
.cache
**/__pycache__

docs
dist
build.bash
Makefile
README.md
#README.rst
requirements_casa6pip36.txt
singularity.md
trash.py

!*.md
