
--index-url https://pypi.python.org/simple/

pip>=19.2.3
bump2version>=0.6.0
wheel>=0.33.6
watchdog>=0.9.0
flake8>=3.7.8
tox>=3.14.0
coverage>=4.5.4
Sphinx>=1.8.5
twine>=1.14.0

pytest>=4.6.5
pytest-runner>=5.1

# ism3d-related

ipython
numpy
scipy
jupyterlab
astropy
matplotlib

hickle 
asteval 
emcee 
corner
tqdm
lmfit
pyfftw
alpy
regions
scipy
reproject
scikit-image
galpy
fast-histogram
numexpr
dask
git+https://github.com/flatironinstitute/finufft@master#egg=finufftpy

git+https://github.com/radio-astro-tools/pvextractor@master#egg=pvextractor
git+https://github.com/radio-astro-tools/spectral-cube@master#egg=spectral-cube
git+https://github.com/radio-astro-tools/radio-beam@master#egg=radio-beam
lenstronomy

# analysis-related

pvextractor >= 0.2.dev66
spectral-cube >= 0.4.5.dev
radio-beam >= 0.3
reproject >= 0.6.dev

# testing-only

wurlitzer
#git+https://github.com/IntelPython/mkl_fft@master#egg=mkl_fft
psutil
line_profiler
memory_profiler
#mkl-fft
#galario >=0.0
#reikna; yt; fitsio; fits-tools


#python-casacore >= 3.1.1
scikit-image
galpy >=1.5

alpy
regions
scipy
reproject
pyfftw